@import 'ui-kit/styles';

.dropdown__isDisabled .concise-SelectMulti {
  border-radius: 8px;
  pointer-events: none;
  @include themify($themes) {
    background-color: themed('disabledBackground') !important;
  }
  svg path {
    fill: $color-grey-placeholder !important;
  }
}

.dropdown:focus-within .concise-SelectMultiIcon .Icon {
  transform: rotate(3.142rad);
}

.concise-SelectMulti {
  position: relative;
  @include inter-12-regular;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  padding: 12px 30px 12px 12px;
  @include themify($themes) {
    color: themed('textColor');
    svg path {
      fill: themed('textColor');
    }
  }

  &Label {
    margin-right: 4px;
    background-color: $color-grey-outline-transparent;
    padding: 4px;
    border-radius: 4px;
    @include themify($themes) {
      color: themed('textColor');
      svg path {
        fill: themed('textColor');
      }
    }
  }

  &Placeholder {
    color: $color-grey-placeholder;
    grid-area: 1/1/1/4;
  }

  &Icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 16px;
  }

  &Input {
    // grid-area: 1/1/1/4;
    input {
      width: 100%;
      color: inherit;
      background: 0px center;
      padding: 11px 30px 11px 11px;
      border: 1px solid $color-grey-outline;
      border-radius: 8px;
      &:focus {
        outline: none;
        border: 1px solid $color-primary;
        box-shadow: 0 0 0 2px rgba($color-primary, 0.2);
      }

      &:disabled {
        @include themify($themes) {
          background-color: themed('disabledBackground');
        }
        pointer-events: none;
      }

      &::placeholder {
        color: $color-grey-placeholder;
      }
    }
  }

  &Child {
    @include inter-12-regular;
    &:hover,
    &:focus,
    &:active {
      border-radius: 7px;
      @include themify($themes) {
        background-color: $color-primary-focused;
        color: themed('textColor');
        svg path {
          fill: themed('textColor');
        }
        &:active {
          background-color: $color-primary-focused !important;
          color: themed('textColor') !important;
          svg path {
            fill: themed('textColor') !important;
          }
        }
      }
    }
  }

  &ChildActive {
    border-radius: 7px;
    background-color: $color-primary;
    color: $color-main-white;
    svg path {
      fill: $color-main-white;
    }
    &:hover,
    &:focus,
    &:active {
      border-radius: 7px;
      background-color: $color-primary !important;
      color: $color-main-white !important;
      svg path {
        fill: $color-main-white !important;
      }
    }
  }
}



// CUSTOM SCSS
.dropdown:has(.concise-SelectMulti) .menu .dropdown-content {
  border: 1px solid $color-primary-outline;
  padding: 5px;
}

.dropdown:has(.concise-SelectMulti) .menu .dropdown-content .Search {
  margin-bottom: 10px;
}

.dropdown:has(.concise-SelectMulti) .menu .dropdown-content ul {
  height: 100%;
  max-height: 150px;
  overflow-y: scroll;
}