@import 'ui-kit/styles';

.Dropdown {
  $this: &;
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: fit-content;
  height: 42px;
  @include themify($themes) {
    background-color: themed('colorComponent');
  }
  // padding: 12px;

  &#{$this}__primary {
    border-bottom: 1px solid #0084ff;
  }

  &#{$this}__danger {
    border-bottom: 1px solid #e92c2c !important;
  }

  &#{$this}__disabled {
    border-bottom: 1px solid #d5d5d5 !important;
  }

  &#{$this}__framed {
    border: 1px solid #d5d5d5 !important;
    @include themify($themes) {
      background-color: themed('colorComponent');
    }
    border-radius: 8px;
    padding: 13px 12px;
    width: fit-content;

    &#{$this}__primary {
      border: 1px solid #0084ff !important;
    }

    &#{$this}__danger {
      border: 1px solid #e92c2c !important;
    }

    &#{$this}__disabled {
      border: 1px solid #d5d5d5 !important;
      background-color: #e5e5e5;
    }
  }

  &__content {
    position: absolute;
    @include themify($themes) {
      background-color: themed('colorComponent');
    }
    width: -webkit-fill-available;
    top: 110%;
    z-index: 10;
    left: -1px;
  }

  &__item {
    padding: 12px 17px;
    cursor: pointer;
    border-bottom: 1px solid #d5d5d5;
  }

  &__item:hover {
    background: #0084ff;
    color: #ffffff;
  }

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }

  &__label {
    width: 125px;
    flex-grow: -1;
  }

  // &__helper{
  //     position: absolute;
  //     top: 110%;
  //     color: #B5B5B5;
  //     left: 0px;
  // }

  &__error {
    position: absolute;
    top: 110%;
    color: #e92c2c;
    left: 0px;
  }
  svg path {
    @include themify($themes) {
      stroke: themed('colorPath');
    }
  }
}
