@import 'ui-kit/styles';

.setup-password-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 100vh;

  .setup-password-layout {
    background-color: $color-main-white;
    border-radius: 12px;

    width: 100%;
    max-width: 400px;
    padding: 24px 36px;

    .setup-password-wrapper {
      width: 100%;
      max-width: 345px;

      margin: 0 auto;

      .setup-password-form {
        margin-bottom: 24px;

        .setup-password-header-title {
          margin-bottom: 24px;
  
          @include inter-32-bold;
          color: $color-main-black;
        }

        .FormField:not(:last-child) {
          margin-bottom: 12px;
        }
  
        .setup-password-btn {
          border-radius: 6px;
  
          width: 100%;
          padding: 13px;
        }
      }
    }
  }
}